/* For import Icon at @/components/import.vue */
.el-upload-dragger {
    width: 80vw !important;
    height: 400px;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 440px !important;
}

/* Tabs */
.el-tabs__item {
    height: 60px;
    box-sizing: border-box;
    line-height: 60px;
    font-size: 18px;
    font-weight: 580;
    color: rgb(204, 204, 204);
    position: relative;
}

.el-tabs__item.is-active {
    color: #00f1ff;
    font-weight: 650;
}

.el-tabs__item:hover {
    color: #2af3ffa8;
    cursor: pointer;
}

.el-tabs__active-bar {
    height: 5px;
    background-color: #00d9ff;
}

/* .el-select>.el-input {
    display: block;
    padding-right: 2px;
} */
